# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Prisma Accelerate DB
DATABASE_URL="..."

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=...
CLERK_SECRET_KEY=...

# Test email:
# your_email+clerk_test@example.com
# Any email with the +clerk_test subaddress is a test email address.

# Test verification code:
# 424242
# No verification emails or SMS will be sent from test emails or test phone numbers. They can be verified with this code.

# Test phone number:
# +15555550100
# The last three digits of this test phone number can end with a number between 100-199.

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/chat
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/chat

# OpenAI
OPENAI_API_KEY=...

# Unsplash
# https://unsplash.com/oauth/applications/668219
# https://api.unsplash.com/search/photo?cleint_id=${process.envUNSPLASH_API_KEY}&query=
UNSPLASH_ID=...
UNSPLASH_ACCESS_KEY=...
UNSPLASH_SECRET_KEY=...
